<div class="playlist-container" *ngIf="vm$ | async as vm">
  <div class="playlist-header">
    <div class="playlist-header-image">
      <ng-container *ngIf="vm.currentTrack?.id; else DefaultBackdrop">
        <div
          class="playlist-header-image-backdrop"
          [style]="{ 'background-image': 'url(' + vm.currentTrack?.firstImage?.url + ')' }">
        </div>
      </ng-container>

      <ng-template #DefaultBackdrop>
        <div class="playlist-header-image-default"></div>
      </ng-template>

      <div class="playlist-header-image-overlay"></div>
    </div>

    <div class="playlist-header-title">
      <h1>{{name}}</h1>
      <p>Total Songs: {{totalSongs}}</p>
    </div>
  </div>

  <table mat-table [dataSource]="tracks" (mouseleave)="tableMouseout()">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>##</th>
      <td mat-cell *matCellDef="let element">
        <div class="playlist-play-col">
          {{element.showPlay}}
          <ng-container *ngIf="hoveredTrackId === element.id || vm.currentTrack?.id === element.id">
            <app-play-button
              (clicked)="playTrack(element)"
              [isPlaying]="(vm.currentTrack?.id === element.id) && vm.isPlaying"
              [styleType]="playButtonStyleType">
            </app-play-button>
          </ng-container>

          <ng-container *ngIf="hoveredTrackId !== element.id && vm.currentTrack?.id !== element.id">
            {{element.position}}
          </ng-container>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="(vm.currentTrack?.id === element.id)"><b>{{element.name}}</b></span>
        <span *ngIf="!(vm.currentTrack?.id === element.id)">{{element.name}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="album">
      <th mat-header-cell *matHeaderCellDef> Album </th>
      <td mat-cell *matCellDef="let element"> {{element.album.name}} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> Duration </th>
      <td mat-cell *matCellDef="let element"> {{element.duration_ms | msToTime}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
      (click)="trackSelected(row)"
      (mouseenter)="trackHover(row)">
    </tr>
  </table>

  <div #LoadTracksAnchor></div>
</div>
