<div class="home">
  <section class="home-side-nav">
    <app-side-bar></app-side-bar>
  </section>

  <section class="home-color-grad"></section>

  <section class="home-top-nav">
    <h3>Profile Bar</h3>
  </section>

  <section class="home-main">
    <div class="home-header">
      <h1>Good Morning</h1>
    </div>

    <div class="home-content">
      <div class="home-content-header">
        <h2>Recently Played</h2>

        <div class="home-content-cards">
          <ng-container *ngFor="let item of recentlyPlayed">
            <app-card [item]="item"></app-card>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="home-content">
      <div class="home-content-header">
        <h2>New For You</h2>

        <div class="home-content-cards">
          <ng-container *ngFor="let item of newForYou">
            <app-card
              [item]="item">
            </app-card>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
</div>
