.card {
  display: grid;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
  }

  .card-image {
    img {
      border-radius: 10px;
      width: 100%;
    }
  }

  .card-content {
    display: grid;
    row-gap: 10px;
    margin-top: 10px;

    h4 {
      font-weight: bold;
      margin: 0;
    }

    p {
      color: #666;
    }
  }
}
