<div class="player">
  <div class="player-info" *ngIf="currentTrack$ | async as track; else NoTrackSelected">
    <div class="player-info-img">
      <img [src]="track.firstImage.url" alt="">
    </div>

    <div class="player-info-text">
      <div class="player-info-text-title">{{track.name}}</div>
      <div class="player-info-text-artist">{{track?.album?.name}}</div>
    </div>
  </div>

  <ng-template #NoTrackSelected>
    <div></div>
  </ng-template>

  <div class="player-controls">
    <div class="player-controls-panel">
      <mat-icon>shuffle</mat-icon>

      <mat-icon>left_arrow</mat-icon>

      <app-play-button
        (clicked)="togglePlay($event)"
        [isPlaying]="playSong$ | async">
      </app-play-button>

      <mat-icon>right_arrow</mat-icon>

      <mat-icon>repeat</mat-icon>
    </div>

    <div class="player-controls-progress">
      <div class="player-controls-progress-time">{{currentTime}}</div>

      <app-progress-bar
        [max]="durationAsNum"
        [min]="0"
        [step]=".25"
        [value]="currentTimeAsNum"
        (change)="updateCurrentTime($event)">
      </app-progress-bar>

      <div class="player-controls-progress-time">{{duration}}</div>
    </div>
  </div>

  <div class="player-volume">
    <mat-icon>volume_up</mat-icon>

    <app-progress-bar
      [max]="volumeControl.max"
      [min]="volumeControl.min"
      [step]="volumeControl.step"
      [value]="volumeControl.value"
      (change)="updateVolume($event)">
    </app-progress-bar>
  </div>
</div>
