<div class="player">
  <div class="player-info" *ngIf="currentTrack$ | async as track; else NoTrackSelected">
    <div class="player-info-img">
      <img [src]="track.firstImage.url" alt="">
    </div>

    <div class="player-info-text">
      <div class="player-info-text-title">{{track.name}}</div>
      <div class="player-info-text-artist">{{track?.album?.name}}</div>
    </div>
  </div>

  <ng-template #NoTrackSelected>
    <div></div>
  </ng-template>

  <div class="player-controls">
    <div class="player-controls-panel">
      <mat-icon>shuffle</mat-icon>

      <mat-icon>left_arrow</mat-icon>

      <app-play-button
        (clicked)="togglePlay($event)"
        [isPlaying]="playSong$ | async">
      </app-play-button>

      <mat-icon>right_arrow</mat-icon>

      <mat-icon>repeat</mat-icon>
    </div>

    <div class="player-controls-progress">
      <div class="player-controls-progress-time">{{currentTime}}</div>

      <app-progress-bar
        [max]="durationAsNum"
        [min]="0"
        [step]="1"
        [value]="currentTimeAsNum">
      </app-progress-bar>

      <div class="player-controls-progress-time">{{duration}}</div>
    </div>
  </div>

  <div class="player-volume">
    <mat-icon>volume_up</mat-icon>
    <mat-slider
      max="100"
      min="0"
      step="1"
      aria-labelledby="song-progress">
    </mat-slider>
    <!-- <progress class="player-volume-bar" value="70" max="100"></progress> -->
  </div>
</div>
