.root {
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 50px auto 100px;
  grid-template-areas:
    "SideNav TopNav"
    "SideNav MainContent"
    "Player Player"
  ;

  .root-header {
    margin-bottom: 30px;
  }

  .root-side-nav {
    grid-area: SideNav;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 80px;
    border-right: 1px solid #ccc;
  }

  .root-top-nav {
    grid-area: TopNav;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    padding-left: 30px;

    h3 {
      margin: 0;
    }
  }

  .root-main {
    grid-area: MainContent;
    padding: 20px;
    padding-left: 30px;
    max-width: 1400px;
    box-sizing: border-box;

    h1 {
      font-weight: bold;
    }

    .root-content-cards {
      display: grid;
      grid-template-columns: repeat(5, minmax(200px, 350px));
      column-gap: 30px;
      row-gap: 20px;
      margin-bottom: 50px;
    }
  }

  // .root-color-grad {
  //   position: absolute;
  //   top: 0;
  //   left: 250px;
  //   right: 0;
  //   height: 70vh;
  //   background: linear-gradient(180deg, rgb(75, 111, 255) 0%, #fff 60%, #fff 100%);
  //   z-index: -1;
  // }

  .root-player {
    grid-area: Player;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #ccc;
  }
}
