.login-container {

  .login-header {
    border-bottom: 1px solid black;
    padding: 30px 0;
    display: flex;
    justify-content: center;

    img {
      width: 200px;
    }
  }

  .login-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;

    .label-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        font-size: 16px;
        margin-bottom: 5px;
      }

      input {
        height: 50px;
        box-sizing: border-box;
        padding: 5px;
        padding-left: 10px;
        border: 1px solid #000;
        border-radius: 6px;

        &::placeholder {
          font-weight: bold;
        }
      }
    }

    .login-actions {
      display: flex;
      justify-content: flex-end;

      button {
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

}
