<div class="login-container">
  <div class="login-header">
    <img src="/assets/spotify.svg" alt="spotify logo">
  </div>

  <div class="login-form">
    <div class="label-group">
      <label for="">Email address or username</label>
      <input type="username" placeholder="email or username">
    </div>

    <div class="label-group">
      <label for="">Password</label>
      <input type="password" placeholder="password">
    </div>

    <div class="login-actions">
      <button primaryButton>Log in</button>
    </div>
  </div>
</div>
